:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #144661;
    --border-color: #dbdbdb;
    --header-height: 90px;
    --header-height-top: 25px;
    --header-height-navbar: calc(var(--header-height) - var(--header-height-top));
    
}

* {
    box-sizing: inherit;
    
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    margin: 30px 15px 0px;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}